<li>
    <%= gravatar_for user, size: 50 %>
    <%= link_to user.name, user %>
                    <!--- ↑パスにuserと指定したら (GET /users/:id(.:format) users#show) --->
    <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete, data:{confirm: "You sure?"} %>
            <!--- methodに:deteleteを指定してdestroyメソッドがはしるようにする (DELETE /users/:id(.:format) users#destroy)--->
            <!--- method: :deleteと指定しないとHTTPメソッドはGETになってしまう --->
    <% end %>    
</li>    