<% provide(:title, 'All users')%>
<h1>All Users</h1>
<%= link_to 'ポイント利用者エクスポート',  export_csv_path(format: :csv), method: :post,:class => 'btn btn-success' %>
                                                   <!-- ↑csv出力するときは(format: :csv)と指定しないといけない     --> 
<ul class="users">
    <% @users.each do |user| %>
        <%= render @users %>
        <!--- _user.html.erbを探しに行く --->
    <% end %>        
</ul>


