<!--- form入力時のエラーメッセージ --->
<% if @user.errors.any? %>
    <div id ="error_explanation">
        <div class ="alert alert-danger">
            The form contains <%= pluralize(@user.errors.count, "error") %>.
                                <!--- ↑エラーの数が複数か単数かでerrorかerrorsか判断して返してくれる --->
        </div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>                